* {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
}

.bg_video {
    position: absolute;
    width: 100%;
    z-index: -100;
    background-repeat: repeat;
}

header {
    align-items: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-image-slice: 1;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(30px);
    background-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    align-items: center;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 100;
}

.textHub_bl {
    color: black;
    background-color: orange;
    margin-left: 5px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.navigation_bar {
    display: flex;
}

.navigation_bar a {
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
    text-decoration: none;
    transition:  0.5s ease-in-out;
}

.navigation_bar a:hover {
    background-color: white;
    color: black;
}

.PW_mainForm {
    margin-top: 5%;
    padding: 10px 5px 15px 5px;
    display: flex;
    width: 800px;
    border-bottom: 1px solid #ff9d09;
    border-top: 1px solid #ff9d09;
    border-radius: 3px;
}

.PW_mainForm p {
    color: white;
    padding-bottom: 5px;
}

.PW_mainForm input {
    width: 230px;
    height: 30px;
}

.PW_mainForm select {
    width: 230px;
    height: 30px;
}

.PW_formLeftColumn {
    display: block;
}

.PW_formRightColumn {
    display: block;
}

.leftColumn_block {
    display: block;
    padding-top: 10px;
}

.rightColumn_block {
    display: block;
    padding-top: 10px;
}

.submitButton_box {
    margin-top: 3%;
    padding: 10px 5px;
    display: flex;
    width: 800px;
}

.VOLS_box {
    display: none;
}

.LINK_box {
    display: none;
}

.INTERNET_box {
    display: none;
}

.getText_box {
    display: none;
    margin-top: 3%;
}

.getText_box textarea {
    background: transparent;
    color: white;
    resize: none;
    border: none;
}

.welcome_box {
    margin-top: 5%;
    display: flex;
}

.welcome_box h {
    font-size: 35px;
    color: white;
}

.readyText_area {
    
}

